/*
#370622
#6E35A9
*/

.controls {
    color: white;
    margin: 2rem 0 4rem 0;
    border-left: 1px solid #6E35A9;
    border-top: 1px solid #6E35A9;
    border-radius: 25px;
    padding: 1rem;
    flex-basis: 50%
}

.logo-pic {
    margin: 2rem 0 4rem 0;
    border-left: 1px solid #6E35A9;
    border-top: 1px solid #6E35A9;
    border-radius: 25px;
    padding: 1rem;
    height: 500px;
    flex-basis: 30%
}

.logo-pic img {
    height: 100%;
    width: 100%;
    border-radius: 25px;
}

.flex-row {
    display: flex;
    flex-direction: row;
    gap: 8%;
    width: 100%;
    justify-content: space-evenly;
    align-items: flex-start;
}


.renderedCocktails {
    margin: 0 auto;
}



