.controls {
    color: white;
    border: 1px solid red;

}

.logo-pic {
    border: 1px solid red;
    height: 500px;
    width: 250px;
}

.flex-row {
    display: flex;
    flex-direction: row;
    gap: 5%;
}

/*.controls {*/
/*    margin: 2rem 1rem;*/
/*    display: grid;*/
/*    padding: 3rem;*/
/*    grid-template-columns: 1fr 1fr;*/
/*    justify-content: space-evenly;*/
/*    background-color: #000;*/
/*    min-height: 400px;*/
/*    min-width: 600px;*/
/*    width: 80%;*/
/*}*/

/*.link {*/
/*    text-decoration: none;*/
/*    background-color: lightgray;*/
/*    height: 2rem;*/
/*    width: auto;*/
/*    border-radius: 5px;*/
/*    text-align: center;*/
/*}*/

/*.link:hover {*/
/*    cursor: pointer;*/
/*    background-color: lightpink;*/
/*}*/

/*.renderedCocktails {*/
/*    display: flex;*/
/*    flex-flow: row wrap;*/
/*    gap: 3%;*/
/*    justify-content: space-evenly;*/
/*}*/

